USE [master]
GO
/****** Object:  Database [ProjetASP]    Script Date: 22/02/2018 11:49:48 ******/
CREATE DATABASE [ProjetASP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjetASP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ProjetASP.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProjetASP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ProjetASP_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjetASP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjetASP]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 22/02/2018 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 22/02/2018 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 22/02/2018 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 22/02/2018 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 22/02/2018 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 22/02/2018 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[UserRole] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Images]    Script Date: 22/02/2018 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](max) NULL,
	[Recherche_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Messages]    Script Date: 22/02/2018 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Texte] [nvarchar](max) NULL,
	[User_Id] [nvarchar](128) NULL,
	[Recherche_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Recherches]    Script Date: 22/02/2018 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recherches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Sexe] [nvarchar](max) NULL,
	[Race] [nvarchar](max) NULL,
	[Adresse] [nvarchar](max) NULL,
	[Desactiver] [bit] NOT NULL,
	[Trouver] [bit] NOT NULL,
	[Date_recherche] [datetime] NOT NULL,
	[Date_ajout] [datetime] NOT NULL,
	[Type_Id] [int] NULL,
	[User_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Recherches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Signalements]    Script Date: 22/02/2018 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Signalements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Adresse] [nvarchar](max) NULL,
	[Desactiver] [bit] NOT NULL,
	[Date_ajout] [datetime] NOT NULL,
	[Type_Id] [int] NULL,
	[User_Id] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Signalements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TypeAnimauxes]    Script Date: 22/02/2018 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeAnimauxes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TypeAnimauxes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'ae6cf514-37a2-4d59-b577-86a67ee8bce5', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'c2234d1f-c72c-42ed-af15-e044d05b6342', N'Membre')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b1acdc59-6826-4ced-bf09-181c2050fadb', N'ae6cf514-37a2-4d59-b577-86a67ee8bce5')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'feba3316-ca83-440a-b2a9-ee863ec074da', N'c2234d1f-c72c-42ed-af15-e044d05b6342')
INSERT [dbo].[AspNetUsers] ([Id], [UserRole], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'b1acdc59-6826-4ced-bf09-181c2050fadb', NULL, N'admin@eni.fr', 0, N'AIza5uN6bi9fL3V8ws18OsxjGfdtXOhz7djCRVSUMbrOF4hsSy2G3dyEjRejmTZXpA==', N'389b7053-adc9-4dfc-930a-b9963b71c90e', NULL, 0, 0, NULL, 1, 0, N'admin@eni.fr')
INSERT [dbo].[AspNetUsers] ([Id], [UserRole], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'feba3316-ca83-440a-b2a9-ee863ec074da', NULL, N'membre@eni.fr', 0, N'ALDOBV0ZQbRfHbe8rf9BCrHPSerIXki76tCtjRr7x5QDbHmdze11WhSFNDqAV9+5iQ==', N'3b0a2297-7d33-47f9-a73c-634174f5af7c', NULL, 0, 0, NULL, 1, 0, N'membre@eni.fr')
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([Id], [Url], [Recherche_Id]) VALUES (1, N'Content/UploadedFiles/1519294750.jpg', 1)
INSERT [dbo].[Images] ([Id], [Url], [Recherche_Id]) VALUES (2, N'Content/UploadedFiles/1519294873.jpg', 2)
INSERT [dbo].[Images] ([Id], [Url], [Recherche_Id]) VALUES (3, N'Content/UploadedFiles/1519295086.jpg', 3)
SET IDENTITY_INSERT [dbo].[Images] OFF
SET IDENTITY_INSERT [dbo].[Recherches] ON 

INSERT [dbo].[Recherches] ([Id], [Nom], [Description], [Sexe], [Race], [Adresse], [Desactiver], [Trouver], [Date_recherche], [Date_ajout], [Type_Id], [User_Id]) VALUES (1, N'Caramel', N'Chaton de 3 mois', N'Male', N'Angora', N'Cholet', 0, 0, CAST(N'2018-02-02 00:00:00.000' AS DateTime), CAST(N'2018-02-22 11:19:10.807' AS DateTime), 1, N'feba3316-ca83-440a-b2a9-ee863ec074da')
INSERT [dbo].[Recherches] ([Id], [Nom], [Description], [Sexe], [Race], [Adresse], [Desactiver], [Trouver], [Date_recherche], [Date_ajout], [Type_Id], [User_Id]) VALUES (2, N'Rex', N'shiba inu de 2 ans', N'Male', N'shiba inu', N'Nantes', 0, 0, CAST(N'2018-01-11 00:00:00.000' AS DateTime), CAST(N'2018-02-22 11:21:13.337' AS DateTime), 2, N'feba3316-ca83-440a-b2a9-ee863ec074da')
INSERT [dbo].[Recherches] ([Id], [Nom], [Description], [Sexe], [Race], [Adresse], [Desactiver], [Trouver], [Date_recherche], [Date_ajout], [Type_Id], [User_Id]) VALUES (3, N'Didou', N'Perroquet ara aux ailes bleues et vertes', N'Femelle', N'Perroquet ara', N'Nantes', 0, 0, CAST(N'2018-02-11 00:00:00.000' AS DateTime), CAST(N'2018-02-22 11:24:46.840' AS DateTime), 5, N'feba3316-ca83-440a-b2a9-ee863ec074da')
SET IDENTITY_INSERT [dbo].[Recherches] OFF
SET IDENTITY_INSERT [dbo].[Signalements] ON 

INSERT [dbo].[Signalements] ([Id], [Description], [Adresse], [Desactiver], [Date_ajout], [Type_Id], [User_Id]) VALUES (1, N'Chien gris qui boite', N'boulevard albert einstein nantes', 0, CAST(N'2018-02-22 11:46:34.383' AS DateTime), NULL, N'feba3316-ca83-440a-b2a9-ee863ec074da')
INSERT [dbo].[Signalements] ([Id], [Description], [Adresse], [Desactiver], [Date_ajout], [Type_Id], [User_Id]) VALUES (2, N'Chat a poil roux ', N'Cholet', 0, CAST(N'2018-02-22 11:46:55.047' AS DateTime), NULL, N'feba3316-ca83-440a-b2a9-ee863ec074da')
SET IDENTITY_INSERT [dbo].[Signalements] OFF
SET IDENTITY_INSERT [dbo].[TypeAnimauxes] ON 

INSERT [dbo].[TypeAnimauxes] ([Id], [Nom]) VALUES (1, N'Chat')
INSERT [dbo].[TypeAnimauxes] ([Id], [Nom]) VALUES (2, N'Chien')
INSERT [dbo].[TypeAnimauxes] ([Id], [Nom]) VALUES (3, N'Hamster')
SET IDENTITY_INSERT [dbo].[TypeAnimauxes] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 22/02/2018 11:49:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 22/02/2018 11:49:48 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 22/02/2018 11:49:48 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 22/02/2018 11:49:48 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 22/02/2018 11:49:48 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 22/02/2018 11:49:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Recherche_Id]    Script Date: 22/02/2018 11:49:48 ******/
CREATE NONCLUSTERED INDEX [IX_Recherche_Id] ON [dbo].[Images]
(
	[Recherche_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Recherche_Id]    Script Date: 22/02/2018 11:49:48 ******/
CREATE NONCLUSTERED INDEX [IX_Recherche_Id] ON [dbo].[Messages]
(
	[Recherche_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_User_Id]    Script Date: 22/02/2018 11:49:48 ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[Messages]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Type_Id]    Script Date: 22/02/2018 11:49:48 ******/
CREATE NONCLUSTERED INDEX [IX_Type_Id] ON [dbo].[Recherches]
(
	[Type_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_User_Id]    Script Date: 22/02/2018 11:49:48 ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[Recherches]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Type_Id]    Script Date: 22/02/2018 11:49:48 ******/
CREATE NONCLUSTERED INDEX [IX_Type_Id] ON [dbo].[Signalements]
(
	[Type_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_User_Id]    Script Date: 22/02/2018 11:49:48 ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[Signalements]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Images_dbo.Recherches_Recherche_Id] FOREIGN KEY([Recherche_Id])
REFERENCES [dbo].[Recherches] ([Id])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_dbo.Images_dbo.Recherches_Recherche_Id]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Messages_dbo.AspNetUsers_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_dbo.Messages_dbo.AspNetUsers_User_Id]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Messages_dbo.Recherches_Recherche_Id] FOREIGN KEY([Recherche_Id])
REFERENCES [dbo].[Recherches] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_dbo.Messages_dbo.Recherches_Recherche_Id]
GO
ALTER TABLE [dbo].[Recherches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Recherches_dbo.AspNetUsers_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Recherches] CHECK CONSTRAINT [FK_dbo.Recherches_dbo.AspNetUsers_User_Id]
GO
ALTER TABLE [dbo].[Recherches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Recherches_dbo.TypeAnimauxes_Type_Id] FOREIGN KEY([Type_Id])
REFERENCES [dbo].[TypeAnimauxes] ([Id])
GO
ALTER TABLE [dbo].[Recherches] CHECK CONSTRAINT [FK_dbo.Recherches_dbo.TypeAnimauxes_Type_Id]
GO
ALTER TABLE [dbo].[Signalements]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Signalements_dbo.AspNetUsers_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Signalements] CHECK CONSTRAINT [FK_dbo.Signalements_dbo.AspNetUsers_User_Id]
GO
ALTER TABLE [dbo].[Signalements]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Signalements_dbo.TypeAnimauxes_Type_Id] FOREIGN KEY([Type_Id])
REFERENCES [dbo].[TypeAnimauxes] ([Id])
GO
ALTER TABLE [dbo].[Signalements] CHECK CONSTRAINT [FK_dbo.Signalements_dbo.TypeAnimauxes_Type_Id]
GO
USE [master]
GO
